# dataset/
__pycache__
.ipynb_checkpoints
.vscode

Dacon/
Kaggle/

aichallenge/dist
aichallenge/meta_data/
aichallenge/effdet.egg-info/
aichallenge/build/
aichallenge/dataset
aichallenge/doc
aichallenge/distributed_train.sh
aichallenge/t3_res_U0000000225.json
aichallenge/test_predict.py
aichallenge/metric.py
aichallenge/utils.py
aichallenge/result_jsons/annotations_val.json
aichallenge/result_jsons/ground_truth.json
aichallenge/result_jsons/results.json
aichallenge/result_jsons/temp.json
aichallenge/result_jsons/test_dev_6000.json
aichallenge/result_jsons/test_dev.json
aichallenge/result_jsons/valid.json
aichallenge/output/train/model1_d2
aichallenge/output/train/model11

submit/